# Input/Output Location Assignments

NET "A" LOC = "K18"; # assign input A to switch K18
NET "B" LOC = "H18"; # assign B to H18
NET "C" LOC = "G18"; # assign C to G18

NET "X" LOC = "K15"; # assign output X to LED K15
NET "Y" LOC = "J15"; # assign Y to J15
NET "Z" LOC = "J14"; # assign Z to J14